<mat-toolbar id="navBar-Main">
  <nav id="navBar-Left">
    <a routerLink="/home" routerLinkActive="active">
      {{ title }}
    </a>
  </nav>
  <nav id="navBar-Right">
    <a routerLink="/home" routerLinkActive="active" title="Home">Home</a>
    <a routerLink="/gallery" routerLinkActive="active" title="Gallery"
      >Gallery</a
    >
    <a routerLink="/history" routerLinkActive="active" title="History"
      >History</a
    >
    <a routerLink="/about" routerLinkActive="active" title="About">About</a>
    <i (click)="openUserModal()" title="User" class="userIcon">
      <fa-icon [icon]="faPaw" id="pawIcon"></fa-icon>
    </i>
  </nav>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
