a {
  cursor: pointer;
}

#navBar-Main {
  background-color: #fa8ab0;
  border: 3px solid #b61588;
  display: flex;
  justify-content: space-between;
}

#navBar-Left a {
  font-family: "cooper black";
  color: white;
  text-decoration: none;
  font-size: 2em;
}

#navBar-Right a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

#navBar-Right a:hover,
#navBar-Left a:hover {
  color: #d372b7;
}
#navBar-Right a.active {
  color: #b61588;
}

#pawIcon {
  font-size: 1.25em;
  margin-left: 1.5em;
  cursor: pointer;
  color: white;
}
